Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

deploy arb config factory
  synd-contracts/README.md
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

update verifier
  synd-withdrawals/synd-appchain-verifier/Cargo.toml
  synd-withdrawals/synd-appchain-verifier/src/errors.rs
  synd-withdrawals/synd-appchain-verifier/src/main.rs
  synd-withdrawals/synd-appchain-verifier/src/types.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
Owners: none

update verifier
  Cargo.lock
  Cargo.toml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update verifier
  synd-withdrawals/synd-appchain-verifier/src/types.rs
Owners: none

chore: add metrics for `maestro`
  Cargo.lock
  synd-maestro/Cargo.toml
  synd-maestro/src/lib.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/main.rs
  synd-maestro/src/metrics.rs
  synd-maestro/src/server.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

chore: add metrics for `maestro`
  synd-maestro/src/metrics.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

chore: add metrics for `maestro`
  test-framework/tests/e2e_tests_maestro.rs
Owners: none

fix certora checks
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  synd-contracts/src/SequencingModuleChecker.sol
  synd-contracts/src/SyndicateSequencingChain.sol
  synd-contracts/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol
Owners: @WillPapper, @gustavoguimaraes

certora: enable optimistic_hashing
  synd-contracts/certora/conf/SyndicateSequencingChain.conf
Owners: @WillPapper, @gustavoguimaraes

PR comments
  shared/test-utils/src/docker.rs
  shared/test-utils/src/utils.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

rb
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencingchaincontract.rs
  shared/contract-bindings/src/synd/atomicsequencer.rs
  shared/contract-bindings/src/synd/atomicsequencerimplementation.rs
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/directmockmodule.rs
  shared/contract-bindings/src/synd/mockisallowedwithinvaliddata.rs
  shared/contract-bindings/src/synd/mod.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
Owners: none

refactor for readability
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

graceful shutdown for finalization checking task
  Cargo.lock
  Cargo.toml
  synd-maestro/Cargo.toml
  synd-maestro/src/maestro.rs
  synd-maestro/src/main.rs
  synd-maestro/src/redis/streams/producer.rs
  synd-maestro/src/server.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

rename to MAX_RESUBMISSION_RETRIES to MAX_TRANSACTION_RETRIES
  synd-maestro/src/config.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/streams/producer.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix after merge
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

remove bad log
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

remove BidStructuredLinkedList
  synd-contracts/src/LinkedList/BidStructuredLinkedList.sol
  synd-contracts/test/LinkedList/BidStructuredLinkedListTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

...is it just this?
  synd-chain-ingestor/src/client.rs
  synd-chain-ingestor/src/main.rs
Owners: none

improve function and var names
  shared/contract-bindings/src/synd/isyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/mocksyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  shared/contract-bindings/src/synd/walletpoolwrappermodule.rs
  synd-contracts/certora/specs/AtomicSequencerImplementation.spec
  synd-contracts/certora/specs/SyndicateSequencingChain.spec
  synd-contracts/certora/specs/WalletPoolWrapperModule.spec
  synd-contracts/docs-pre-audit/src/src/SyndicateSequencingChain.sol/contract.SyndicateSequencingChain.md
  synd-contracts/docs-pre-audit/src/src/atomic-sequencer/AtomicSequencerImplementation.sol/contract.AtomicSequencerImplementation.md
  synd-contracts/docs-pre-audit/src/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol/contract.SyndicateSequencingChainWithDecayingPriority.md
  synd-contracts/docs-pre-audit/src/src/interfaces/ISyndicateSequencingChain.sol/interface.ISyndicateSequencingChain.md
  synd-contracts/docs-pre-audit/src/src/sequencing-modules/WalletPoolWrapperModule.sol/contract.WalletPoolWrapperModule.md
  synd-contracts/script/AddBatchTransactionsToSyndicateSequencingChainContract.s.sol
  synd-contracts/src/SequencingModuleChecker.sol
  synd-contracts/src/SyndicateSequencingChain.sol
  synd-contracts/src/atomic-sequencer/AtomicSequencerImplementation.sol
  synd-contracts/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol
  synd-contracts/src/interfaces/IPermissionModule.sol
  synd-contracts/src/interfaces/IRequirementModule.sol
  synd-contracts/src/interfaces/ISyndicateSequencingChain.sol
  synd-contracts/src/sequencing-modules/WalletPoolWrapperModule.sol
  synd-contracts/test/SyndicateFactoryTest.t.sol
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
  synd-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  synd-contracts/test/extensions/SyndicateSequencingChainWithDecayingPriorityTest.t.sol
  synd-contracts/test/sequencing-modules/WalletPoolWrapperModuleTest.t.sol
  use-cases/src/dream/AgentTransactionValidator.sol
Owners: @WillPapper, @gustavoguimaraes

script for deploying
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

updated bindings
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/mod.rs
Owners: none

Deploy ArbConfigFactory (#482)
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/mod.rs
  synd-contracts/README.md
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

up
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerforexitingchains.rs
  shared/contract-bindings/src/synd/mod.rs
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

...is it just this? (#485)
  synd-chain-ingestor/src/client.rs
  synd-chain-ingestor/src/main.rs
Owners: none

updated script + bindings
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerforexitingchains.rs
  synd-contracts/README.md
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

add BaseRequirementModule
  synd-contracts/src/requirement-modules/BaseRequirementModule.sol
  synd-contracts/src/requirement-modules/RequireAllModule.sol
  synd-contracts/src/requirement-modules/RequireAnyModule.sol
  synd-contracts/test/SyndicateFactoryTest.t.sol
  synd-contracts/test/requirement-modules/RequireAllModuleTest.t.sol
  synd-contracts/test/requirement-modules/RequireAnyModuleTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

update readme and add TODOs
  synd-withdrawals/synd-appchain-verifier/README.md
  synd-withdrawals/synd-appchain-verifier/src/config.rs
  synd-withdrawals/synd-appchain-verifier/src/errors.rs
  synd-withdrawals/synd-appchain-verifier/src/lib.rs
  synd-withdrawals/synd-appchain-verifier/src/main.rs
  synd-withdrawals/synd-appchain-verifier/src/types.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
Owners: none

simpler script
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerforexitingchains.rs
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

up
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerforexistingchains.rs
  shared/contract-bindings/src/synd/deployarbconfigmanagerforexitingchains.rs
  shared/contract-bindings/src/synd/mod.rs
  synd-contracts/script/DeployArbConfigManager.s.sol
Owners: @WillPapper, @gustavoguimaraes

update synd-enclave
  synd-appchain-verifier/Cargo.toml
  synd-appchain-verifier/README.md
  synd-appchain-verifier/src/config.rs
  synd-appchain-verifier/src/errors.rs
  synd-appchain-verifier/src/lib.rs
  synd-appchain-verifier/src/main.rs
  synd-appchain-verifier/src/types.rs
  synd-appchain-verifier/src/verifier.rs
  synd-enclave/.dockerignore
  synd-enclave/Dockerfile
  synd-enclave/cmd/enclave/main.go
  synd-enclave/cmd/server/main.go
  synd-enclave/eif/cmdline-aarch64
  synd-enclave/eif/cmdline-x86_64
  synd-enclave/eif/init-ramdisk.yaml
  synd-enclave/eif/user-ramdisk.yaml
  synd-enclave/enclave/client.go
  synd-enclave/enclave/config.go
  synd-enclave/enclave/l1_receipts_fetcher.go
  synd-enclave/enclave/l2_system_config_fetcher.go
  synd-enclave/enclave/rpc.go
  synd-enclave/enclave/server.go
  synd-enclave/enclave/stateless.go
  synd-enclave/enclave/verify.go
  synd-enclave/go.mod
  synd-enclave/go.sum
  synd-poster/Cargo.toml
  synd-poster/README.md
  synd-poster/src/config.rs
  synd-poster/src/lib.rs
  synd-poster/src/main.rs
  synd-poster/src/metrics.rs
  synd-poster/src/poster.rs
  synd-poster/src/types.rs
  synd-poster/tests/integration_tests.rs
  synd-poster/tests/utils/mod.rs
  synd-withdrawals/README.md
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add folder
  synd-wihdrawals/synd-appchain-verifier/Cargo.toml
  synd-wihdrawals/synd-appchain-verifier/README.md
  synd-wihdrawals/synd-appchain-verifier/src/config.rs
  synd-wihdrawals/synd-appchain-verifier/src/errors.rs
  synd-wihdrawals/synd-appchain-verifier/src/lib.rs
  synd-wihdrawals/synd-appchain-verifier/src/main.rs
  synd-wihdrawals/synd-appchain-verifier/src/types.rs
  synd-wihdrawals/synd-appchain-verifier/src/verifier.rs
  synd-wihdrawals/synd-enclave/.dockerignore
  synd-wihdrawals/synd-enclave/Dockerfile
  synd-wihdrawals/synd-enclave/cmd/enclave/main.go
  synd-wihdrawals/synd-enclave/cmd/server/main.go
  synd-wihdrawals/synd-enclave/eif/cmdline-aarch64
  synd-wihdrawals/synd-enclave/eif/cmdline-x86_64
  synd-wihdrawals/synd-enclave/eif/init-ramdisk.yaml
  synd-wihdrawals/synd-enclave/eif/user-ramdisk.yaml
  synd-wihdrawals/synd-enclave/enclave/client.go
  synd-wihdrawals/synd-enclave/enclave/config.go
  synd-wihdrawals/synd-enclave/enclave/l1_receipts_fetcher.go
  synd-wihdrawals/synd-enclave/enclave/l2_system_config_fetcher.go
  synd-wihdrawals/synd-enclave/enclave/rpc.go
  synd-wihdrawals/synd-enclave/enclave/server.go
  synd-wihdrawals/synd-enclave/enclave/stateless.go
  synd-wihdrawals/synd-enclave/enclave/verify.go
  synd-wihdrawals/synd-enclave/go.mod
  synd-wihdrawals/synd-enclave/go.sum
Owners: none

update verifier
  Cargo.lock
  Cargo.toml
  synd-withdrawals/synd-appchain-verifier/Cargo.toml
  synd-withdrawals/synd-appchain-verifier/README.md
  synd-withdrawals/synd-appchain-verifier/src/config.rs
  synd-withdrawals/synd-appchain-verifier/src/errors.rs
  synd-withdrawals/synd-appchain-verifier/src/lib.rs
  synd-withdrawals/synd-appchain-verifier/src/main.rs
  synd-withdrawals/synd-appchain-verifier/src/types.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
  synd-withdrawals/synd-enclave/.dockerignore
  synd-withdrawals/synd-enclave/Dockerfile
  synd-withdrawals/synd-enclave/cmd/enclave/main.go
  synd-withdrawals/synd-enclave/cmd/server/main.go
  synd-withdrawals/synd-enclave/eif/cmdline-aarch64
  synd-withdrawals/synd-enclave/eif/cmdline-x86_64
  synd-withdrawals/synd-enclave/eif/init-ramdisk.yaml
  synd-withdrawals/synd-enclave/eif/user-ramdisk.yaml
  synd-withdrawals/synd-enclave/enclave/client.go
  synd-withdrawals/synd-enclave/enclave/config.go
  synd-withdrawals/synd-enclave/enclave/l1_receipts_fetcher.go
  synd-withdrawals/synd-enclave/enclave/l2_system_config_fetcher.go
  synd-withdrawals/synd-enclave/enclave/rpc.go
  synd-withdrawals/synd-enclave/enclave/server.go
  synd-withdrawals/synd-enclave/enclave/stateless.go
  synd-withdrawals/synd-enclave/enclave/verify.go
  synd-withdrawals/synd-enclave/go.mod
  synd-withdrawals/synd-enclave/go.sum
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add TODOs
  synd-withdrawals/synd-appchain-verifier/src/main.rs
  synd-withdrawals/synd-appchain-verifier/src/types.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
  synd-withdrawals/synd-enclave/enclave/server.go
Owners: none

refactor requirement modules
  .github/workflows/certora.yml
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/mod.rs
  shared/contract-bindings/src/synd/requireallmodule.rs
  shared/contract-bindings/src/synd/requireanymodule.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  synd-contracts/certora/conf/RequireAndModule.conf
  synd-contracts/certora/conf/RequireOrModule.conf
  synd-contracts/certora/specs/RequireAndModule.spec
  synd-contracts/certora/specs/RequireOrModule.spec
  synd-contracts/docs-pre-audit/AUDIT_README.md
  synd-contracts/docs-pre-audit/src/SUMMARY.md
  synd-contracts/docs-pre-audit/src/src/SyndicateFactory.sol/contract.SyndicateFactory.md
  synd-contracts/docs-pre-audit/src/src/requirement-modules/README.md
  synd-contracts/docs-pre-audit/src/src/requirement-modules/RequireAllModule.sol/contract.RequireAllModule.md
  synd-contracts/docs-pre-audit/src/src/requirement-modules/RequireAndModule.sol/contract.RequireAndModule.md
  synd-contracts/docs-pre-audit/src/src/requirement-modules/RequireAnyModule.sol/contract.RequireAnyModule.md
  synd-contracts/docs-pre-audit/src/src/requirement-modules/RequireOrModule.sol/contract.RequireOrModule.md
  synd-contracts/script/DeployContractsForSequencingChain.s.sol
  synd-contracts/src/SequencingModuleChecker.sol
  synd-contracts/src/SyndicateFactory.sol
  synd-contracts/src/requirement-modules/BaseRequirementModule.sol
  synd-contracts/src/requirement-modules/RequireAndModule.sol
  synd-contracts/src/requirement-modules/RequireCompositeModule.sol
  synd-contracts/src/requirement-modules/RequireOrModule.sol
  synd-contracts/test/SequencingModuleCheckerTest.t.sol
  synd-contracts/test/SyndicateFactoryTest.t.sol
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
  synd-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  synd-contracts/test/extensions/SyndicateSequencingChainWithDecayingPriorityTest.t.sol
  synd-contracts/test/requirement-modules/RequireAndModuleTest.t.sol
  synd-contracts/test/requirement-modules/RequireCompositeModuleTest.t.sol
  synd-contracts/test/requirement-modules/RequireOrModuleTest.t.sol
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

rb
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencingchaincontract.rs
  shared/contract-bindings/src/synd/alwaysallowedmodule.rs
  shared/contract-bindings/src/synd/atomicsequencer.rs
  shared/contract-bindings/src/synd/atomicsequencerimplementation.rs
  shared/contract-bindings/src/synd/baserequirementmodule.rs
  shared/contract-bindings/src/synd/bidstructuredlinkedlist.rs
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/directmockmodule.rs
  shared/contract-bindings/src/synd/ipermissionmodule.rs
  shared/contract-bindings/src/synd/isyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/mockisallowed.rs
  shared/contract-bindings/src/synd/mockisallowedfalse.rs
  shared/contract-bindings/src/synd/mockisallowedtrue.rs
  shared/contract-bindings/src/synd/mockisallowedwithinvaliddata.rs
  shared/contract-bindings/src/synd/mockpermissionallowedfalse.rs
  shared/contract-bindings/src/synd/mockpermissionallowedtrue.rs
  shared/contract-bindings/src/synd/mockpermissionmodule.rs
  shared/contract-bindings/src/synd/mocksyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/mod.rs
  shared/contract-bindings/src/synd/notinitializedmodule.rs
  shared/contract-bindings/src/synd/requireallmodule.rs
  shared/contract-bindings/src/synd/requireandmodule.rs
  shared/contract-bindings/src/synd/requireanymodule.rs
  shared/contract-bindings/src/synd/requirecompositemodule.rs
  shared/contract-bindings/src/synd/requireormodule.rs
  shared/contract-bindings/src/synd/sealedbidauctionsequencingmodule.rs
  shared/contract-bindings/src/synd/sequencingmodulechecker.rs
  shared/contract-bindings/src/synd/sequencingmodulecheckermock.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  shared/contract-bindings/src/synd/tokenbalancesequencingmodule.rs
  shared/contract-bindings/src/synd/walletpoolwrappermodule.rs
Owners: none

use solidity compiler 0.8.29 in certora
  .github/workflows/certora.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix contract name
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

most updated certora
  .github/workflows/certora.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

chore: add metrics for `maestro` (#483)
  Cargo.lock
  synd-maestro/Cargo.toml
  synd-maestro/src/lib.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/main.rs
  synd-maestro/src/metrics.rs
  synd-maestro/src/server.rs
  synd-maestro/tests/integration_test.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Ci fixes
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-contracts/certora/specs/WalletPoolWrapperModule.spec
  synd-contracts/src/SyndicateSequencingChain.sol
  synd-contracts/src/interfaces/ISyndicateSequencingChain.sol
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
  synd-contracts/test/extensions/SyndicateSequencingChainWithDecayingPriorityTest.t.sol
  synd-contracts/test/sequencing-modules/WalletPoolWrapperModuleTest.t.sol
  use-cases/src/dream/AgentTransactionValidator.sol
Owners: @WillPapper, @gustavoguimaraes

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/synd-contracts @WillPapper @gustavoguimaraes

/synd-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne
