Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

fix bug in maestro test
  test-framework/tests/e2e_tests_maestro.rs
Owners: none

pr comments
  synd-verifier/src/config.rs
  synd-verifier/src/errors.rs
  synd-verifier/src/verifier.rs
Owners: none

update docker compose files
  .gitignore
  docker-compose/README.md
  docker-compose/burrata.env
  docker-compose/burrata.json
  docker-compose/cheddar.env
  docker-compose/cheddar.json
  docker-compose/cheddar.yaml
  docker-compose/devnet.json
  docker-compose/devnet.yaml
  docker-compose/docker-compose.yaml
  docker-compose/manchego.env
  docker-compose/manchego.yaml
  docker-compose/oom.yaml
  synd-mchain/src/server.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix delayed message l1 block number bug (#470)
  .gitignore
  docker-compose/README.md
  docker-compose/burrata.env
  docker-compose/burrata.json
  docker-compose/cheddar.env
  docker-compose/cheddar.json
  docker-compose/devnet.json
  docker-compose/devnet.yaml
  docker-compose/docker-compose.yaml
  docker-compose/manchego.env
  docker-compose/manchego.json
  shared/test-utils/src/docker.rs
  synd-chain-ingestor/src/eth_client.rs
  synd-mchain/src/client.rs
  synd-mchain/src/db.rs
  synd-mchain/src/main.rs
  synd-mchain/src/server.rs
  synd-mchain/tests/signal_tests.rs
  synd-translator/bin/synd-translator/src/config.rs
  synd-translator/bin/synd-translator/src/config_manager.rs
  synd-translator/bin/synd-translator/src/spawn.rs
  synd-translator/docker-compose/README.md
  synd-translator/docker-compose/manchego.yaml
  synd-translator/docker-compose/oom.yaml
  synd-translator/tests/tests/integration_tests.rs
  test-framework/src/components/test_components.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update docker-compose build path
  docker-compose/README.md
  docker-compose/devnet.yaml
  docker-compose/docker-compose.yaml
Owners: none

fix markdown formatting
  docker-compose/README.md
Owners: none

refactor generate_mblock
  synd-verifier/src/types.rs
  synd-verifier/src/verifier.rs
Owners: none

update docker-compose build path (#471)
  docker-compose/README.md
  docker-compose/devnet.yaml
  docker-compose/docker-compose.yaml
Owners: none

refactor
  synd-verifier/src/types.rs
  synd-verifier/src/verifier.rs
Owners: none

feat: synd-verifier component (#413)
  Cargo.lock
  Cargo.toml
  shared/src/types.rs
  synd-translator/crates/synd-block-builder/src/appchains/arbitrum/arbitrum_adapter.rs
  synd-verifier/Cargo.toml
  synd-verifier/README.md
  synd-verifier/src/config.rs
  synd-verifier/src/errors.rs
  synd-verifier/src/lib.rs
  synd-verifier/src/types.rs
  synd-verifier/src/verifier.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: synd-enclave
  Cargo.lock
  synd-verifier/Cargo.toml
  synd-verifier/src/main.rs
  synd-verifier/src/types.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: synd-enclave
  synd-enclave/.dockerignore
  synd-enclave/Dockerfile
  synd-enclave/cmd/enclave/main.go
  synd-enclave/cmd/server/main.go
  synd-enclave/eif/cmdline-aarch64
  synd-enclave/eif/cmdline-x86_64
  synd-enclave/eif/init-ramdisk.yaml
  synd-enclave/eif/user-ramdisk.yaml
  synd-enclave/enclave/client.go
  synd-enclave/enclave/config.go
  synd-enclave/enclave/l1_receipts_fetcher.go
  synd-enclave/enclave/l2_system_config_fetcher.go
  synd-enclave/enclave/rpc.go
  synd-enclave/enclave/server.go
  synd-enclave/enclave/stateless.go
  synd-enclave/go.mod
  synd-enclave/go.sum
Owners: none

feat: maestro only logs if RPC is unavailable
  synd-maestro/src/config.rs
  synd-maestro/src/errors.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/server.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: maestro only logs if RPC is unavailable
  synd-maestro/src/maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

refactor: remove dev container + Github Action
  .github/workflows/devcontainer-e2e.yaml
  .github/workflows/devcontainer-main-update-dry-run.yaml
  .github/workflows/devcontainer-main-update.yaml
  justfile
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

refactor: remove dev container + Github Action
  .devcontainer/devcontainer.json
  .devcontainer/launch-devcontainer-cli.sh
  README.md
  documentation/node-operators/run-rpc-node-docker.md
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

refactor: remove dev container + Github Action jobs (#472)
  .devcontainer/devcontainer.json
  .devcontainer/launch-devcontainer-cli.sh
  .github/workflows/devcontainer-e2e.yaml
  .github/workflows/devcontainer-main-update-dry-run.yaml
  .github/workflows/devcontainer-main-update.yaml
  README.md
  documentation/node-operators/run-rpc-node-docker.md
  justfile
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: `maestro` only logs if RPC is unavailable (#474)
  synd-maestro/src/config.rs
  synd-maestro/src/errors.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/server.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

check isAllowed in processBulkTransactions
  synd-contracts/src/SyndicateSequencerChain.sol
Owners: @WillPapper, @gustavoguimaraes

bindings
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencerchaincontract.rs
  shared/contract-bindings/src/synd/atomicsequencer.rs
  shared/contract-bindings/src/synd/atomicsequencerimplementation.rs
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/mockisallowed.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencerchain.rs
  shared/contract-bindings/src/synd/syndicatesequencerchainwithdecayingpriority.rs
Owners: none

add TeeModule.sol contract
  shared/arb-contracts/lib/openzeppelin/utils/Panic.sol
  shared/arb-contracts/lib/openzeppelin/utils/Strings.sol
  shared/arb-contracts/lib/openzeppelin/utils/cryptography/ECDSA.sol
  shared/arb-contracts/lib/openzeppelin/utils/cryptography/MessageHashUtils.sol
  shared/arb-contracts/lib/openzeppelin/utils/math/Math.sol
  shared/arb-contracts/lib/openzeppelin/utils/math/SafeCast.sol
  shared/arb-contracts/lib/openzeppelin/utils/math/SignedMath.sol
  shared/arb-contracts/src/TeeModule.sol
  shared/contract-bindings/src/arbitrum/ecdsa.rs
  shared/contract-bindings/src/arbitrum/il1block.rs
  shared/contract-bindings/src/arbitrum/math.rs
  shared/contract-bindings/src/arbitrum/messagehashutils.rs
  shared/contract-bindings/src/arbitrum/mod.rs
  shared/contract-bindings/src/arbitrum/panic.rs
  shared/contract-bindings/src/arbitrum/safecast.rs
  shared/contract-bindings/src/arbitrum/signedmath.rs
  shared/contract-bindings/src/arbitrum/strings.rs
  shared/contract-bindings/src/arbitrum/teemodule.rs
Owners: none

remove unnecessary AssertionPayload struct
  shared/arb-contracts/src/TeeModule.sol
  shared/contract-bindings/src/arbitrum/teemodule.rs
Owners: none

remove tee keys when disabling a program hash
  shared/arb-contracts/src/TeeModule.sol
  shared/contract-bindings/src/arbitrum/teemodule.rs
Owners: none

add ignore file
  synd-contracts/.olympix-ignore.json
Owners: @WillPapper, @gustavoguimaraes

first check
  synd-contracts/src/LinkedList/AddressStructuredLinkedList.sol
  synd-contracts/src/LinkedList/BidStructuredLinkedList.sol
  synd-contracts/src/SequencingModuleChecker.sol
  synd-contracts/src/SyndicateFactory.sol
  synd-contracts/src/SyndicateSequencerChain.sol
  synd-contracts/src/extensions/SyndicateSequencerChainWithDecayingPriority.sol
Owners: @WillPapper, @gustavoguimaraes

fix link
  synd-contracts/.env.example
Owners: @WillPapper, @gustavoguimaraes

Fix README.md
  synd-contracts/README.md
  synd-contracts/docs-pre-audit/AUDIT_README.md
  synd-contracts/docs-pre-audit/src/README.md
  synd-contracts/script/AllowlistSyndicateStorageAddresses.s.sol
Owners: @WillPapper, @gustavoguimaraes

remove olympix file that is not working
  synd-contracts/.olympix-ignore.json
Owners: @WillPapper, @gustavoguimaraes

add test for SyndicateStorage
  synd-contracts/src/backfill/SyndicateStorage.sol
  synd-contracts/test/backfill/MetafillerStorageTest.t.sol
  synd-contracts/test/backfill/SyndicateStorageTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

add olympix ignore for require modules
  synd-contracts/src/requirement-modules/RequireAllModule.sol
  synd-contracts/src/requirement-modules/RequireAnyModule.sol
Owners: @WillPapper, @gustavoguimaraes

add olympix ignore to WalletPoolWrapperModule
  synd-contracts/src/sequencing-modules/WalletPoolWrapperModule.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencerchaincontract.rs
  shared/contract-bindings/src/synd/addressstructuredlinkedlist.rs
  shared/contract-bindings/src/synd/allowlistsyndicatestorageaddresses.rs
  shared/contract-bindings/src/synd/atomicsequencer.rs
  shared/contract-bindings/src/synd/atomicsequencerimplementation.rs
  shared/contract-bindings/src/synd/bidstructuredlinkedlist.rs
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/mockisallowed.rs
  shared/contract-bindings/src/synd/mockisallowedfalse.rs
  shared/contract-bindings/src/synd/mockisallowedtrue.rs
  shared/contract-bindings/src/synd/mockpermissionallowedfalse.rs
  shared/contract-bindings/src/synd/mockpermissionallowedtrue.rs
  shared/contract-bindings/src/synd/mocksyndicatesequencerchain.rs
  shared/contract-bindings/src/synd/requireallmodule.rs
  shared/contract-bindings/src/synd/requireanymodule.rs
  shared/contract-bindings/src/synd/sequencingmodulecheckermock.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencerchain.rs
  shared/contract-bindings/src/synd/syndicatesequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/synd/syndicatestorage.rs
  shared/contract-bindings/src/synd/walletpoolwrappermodule.rs
Owners: none

wip
  shared/arb-contracts/src/TeeModule.sol
  synd-translator/crates/synd-block-builder/src/appchains/arbitrum/arbitrum_adapter.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add olympix ignore in remaining contract files
  synd-contracts/src/config/ArbChainConfig.sol
  synd-contracts/src/config/ArbConfigManager.sol
  synd-contracts/src/config/ArbConfigManagerFactory.sol
  synd-contracts/src/sequencing-modules/SealedBidAuctionSequencingModule.sol
Owners: @WillPapper, @gustavoguimaraes

change CI for olympix
  .github/workflows/olympix.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

rb
  shared/contract-bindings/src/synd/arbchainconfig.rs
  shared/contract-bindings/src/synd/arbconfigmanager.rs
  shared/contract-bindings/src/synd/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/synd/deployarbconfigmanager.rs
  shared/contract-bindings/src/synd/sealedbidauctionsequencingmodule.rs
Owners: none

add test coverage command in docs
  synd-contracts/Makefile
  synd-contracts/README.md
Owners: @WillPapper, @gustavoguimaraes

add test to ArbConfigManagerFactory
  synd-contracts/test/config/ArbConfigManagerFactoryTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

remove one more olympix debug flag from CI
  .github/workflows/olympix.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add info about config files
  synd-contracts/docs-pre-audit/AUDIT_README.md
Owners: @WillPapper, @gustavoguimaraes

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/synd-contracts @WillPapper @gustavoguimaraes

/synd-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne
