Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

add _max_msg_count on receiver
  shared/src/additive_compression.rs
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: none

rm unused errors
  Cargo.lock
  tc-sequencer/crates/batcher/Cargo.toml
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add unit test
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: none

add unit tests
  shared/src/additive_compression.rs
Owners: none

update debug logs
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: none

SEQ-394: extension framework extension
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
  metabased-contracts/src/extensions/MetabasedSequencerChainWithPriority.sol
  metabased-contracts/test/extensions/MetaBasedSequencerChainTest.t.sol
  metabased-contracts/test/extensions/MetabasedSequencerChainWithDecayingPriorityTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

add simple ER721 for deployment
  use-cases/Makefile
  use-cases/foundry.toml
  use-cases/src/IRL/IRLNFT.sol
Owners: none

rb
  shared/contract-bindings/src/metabased/addbatchtransactionstometabasedsequencerchaincontract.rs
  shared/contract-bindings/src/metabased/atomicsequencer.rs
  shared/contract-bindings/src/metabased/atomicsequencerimplementation.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/metabased/mockcalldataallowed.rs
  shared/contract-bindings/src/metabased/mockisallowed.rs
  shared/contract-bindings/src/metabased/mod.rs
Owners: none

Feat[BREAKING]: maestro redis implementation, deprecates passthrough mode (#427)
  .github/workflows/rust-ci.yaml
  Cargo.lock
  Dockerfile
  maestro/Cargo.toml
  maestro/src/config.rs
  maestro/src/constants.rs
  maestro/src/errors.rs
  maestro/src/layers.rs
  maestro/src/lib.rs
  maestro/src/main.rs
  maestro/src/redis/consumer.rs
  maestro/src/redis/mod.rs
  maestro/src/redis/producer.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
  mchain/src/mchain.rs
  metabased-poster/tests/integration_tests.rs
  metabased-sequencer/Cargo.toml
  metabased-sequencer/src/metrics.rs
  metabased-sequencer/src/relayer.rs
  metabased-translator/bin/metabased-translator/Cargo.toml
  metabased-translator/crates/common/src/types.rs
  shared/src/json_rpc.rs
  shared/src/tx_validation.rs
  shared/test-utils/Cargo.toml
  shared/test-utils/src/anvil.rs
  shared/test-utils/src/docker.rs
  shared/test-utils/src/port_manager.rs
  tc-sequencer/src/main.rs
  tc-sequencer/src/tc_client.rs
  test-framework/tests/components/mod.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

attempt to fix CI
  .github/workflows/rust-ci.yaml
  Dockerfile
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

relax time for docker images to be downloaded in integration tests
  shared/test-utils/src/docker.rs
Owners: none

I love github actions
  .github/workflows/rust-ci.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

attemp to unify all the services docker build/publish in a single file
  .github/workflows/docker-build-core.yaml
  .github/workflows/publish-image-maestro-dry-run.yaml
  .github/workflows/publish-image-maestro.yaml
  .github/workflows/publish-image-mchain-dry-run.yaml
  .github/workflows/publish-image-mchain.yaml
  .github/workflows/publish-image-metabased-poster-dry-run.yaml
  .github/workflows/publish-image-metabased-poster.yaml
  .github/workflows/publish-image-metabased-sequencer-dry-run.yaml
  .github/workflows/publish-image-metabased-translator-dry-run.yaml
  .github/workflows/publish-image-metabased-translator.yaml
  .github/workflows/publish-image-tc-sequencer-dry-run.yaml
  .github/workflows/publish-image-tc-sequencer.yaml
  .github/workflows/publish-images-dry-run.yaml
  .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/publish-release-images.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

PR comments
  .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/rust-ci.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

use real redis consumer
  Cargo.lock
  Cargo.toml
  tc-sequencer/crates/batcher/Cargo.toml
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/tc-client/Cargo.toml
  tc-sequencer/src/main.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update Compressor
  shared/src/additive_compression.rs
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: none

CI improvements (#435)
  .github/workflows/docker-build-core.yaml
  .github/workflows/publish-image-maestro-dry-run.yaml
  .github/workflows/publish-image-maestro.yaml
  .github/workflows/publish-image-mchain-dry-run.yaml
  .github/workflows/publish-image-mchain.yaml
  .github/workflows/publish-image-metabased-poster-dry-run.yaml
  .github/workflows/publish-image-metabased-poster.yaml
  .github/workflows/publish-image-metabased-sequencer-dry-run.yaml
  .github/workflows/publish-image-metabased-translator-dry-run.yaml
  .github/workflows/publish-image-metabased-translator.yaml
  .github/workflows/publish-image-tc-sequencer-dry-run.yaml
  .github/workflows/publish-image-tc-sequencer.yaml
  .github/workflows/publish-images-dry-run.yaml
  .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images.yaml
  .github/workflows/publish-release-images.yaml
  .github/workflows/rust-ci.yaml
  Dockerfile
  shared/test-utils/src/docker.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update receiver
  maestro/src/redis/consumer.rs
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update with comments
  Cargo.lock
  shared/src/additive_compression.rs
  tc-sequencer/crates/batcher/Cargo.toml
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add ticket
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: none

kb
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
Owners: none

kb
  tc-sequencer/crates/batcher/src/batcher.rs
Owners: none

feat: batcher component (#424)
  Cargo.lock
  Cargo.toml
  maestro/src/redis/consumer.rs
  metabased-sequencer/Cargo.toml
  metabased-sequencer/src/lib.rs
  shared/Cargo.toml
  shared/src/additive_compression.rs
  shared/src/lib.rs
  shared/src/zlib_compression.rs
  tc-sequencer/Cargo.toml
  tc-sequencer/crates/batcher/Cargo.toml
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
  tc-sequencer/crates/batcher/src/lib.rs
  tc-sequencer/crates/tc-client/Cargo.toml
  tc-sequencer/crates/tc-client/src/config.rs
  tc-sequencer/crates/tc-client/src/lib.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
  tc-sequencer/src/config.rs
  tc-sequencer/src/lib.rs
  tc-sequencer/src/main.rs
  tc-sequencer/src/server.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

various improvements. in terms of breaking changes:
  Cargo.lock
  maestro/src/server.rs
  mchain/src/db.rs
  mchain/src/main.rs
  mchain/src/mchain.rs
  metabased-sequencer/src/relayer.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/crates/block-builder/Cargo.toml
  metabased-translator/crates/block-builder/src/block_builder.rs
  metabased-translator/crates/block-builder/src/config.rs
  metabased-translator/crates/block-builder/src/connectors/mchain.rs
  metabased-translator/crates/block-builder/src/connectors/metrics.rs
  metabased-translator/crates/block-builder/src/connectors/mod.rs
  metabased-translator/crates/block-builder/src/lib.rs
  metabased-translator/crates/block-builder/src/metrics.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/batch.rs
  metabased-translator/crates/block-builder/src/rollups/optimism/optimism_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/shared/rollup_adapter.rs
  metabased-translator/crates/common/Cargo.toml
  metabased-translator/crates/common/src/types.rs
  metabased-translator/crates/ingestor/Cargo.toml
  metabased-translator/crates/ingestor/src/ingestor.rs
  metabased-translator/crates/metrics/Cargo.toml
  metabased-translator/crates/metrics/src/metrics.rs
  metabased-translator/crates/slotter/Cargo.toml
  metabased-translator/crates/slotter/src/slotter.rs
  metabased-translator/tests/tests/integration_tests.rs
  shared/src/parse.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

get_processed_blocks edge case
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

get_processed_blocks edge case (#437)
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add e2e test and force mchain rollback to origin on None safe_state
  Cargo.lock
  metabased-translator/crates/block-builder/src/config.rs
  metabased-translator/crates/block-builder/src/connectors/mchain.rs
  test-framework/Cargo.toml
  test-framework/tests/components/mod.rs
  test-framework/tests/e2e_tests.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

consolidate IPermission.isAllow() interface
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedSequencerChain.sol
  metabased-contracts/src/SequencingModuleChecker.sol
  metabased-contracts/src/interfaces/CalldataPermissionModule.sol
  metabased-contracts/src/interfaces/IPermissionModule.sol
  metabased-contracts/src/interfaces/IRequirementModule.sol
  metabased-contracts/src/interfaces/ProposerPermissionModule.sol
  metabased-contracts/src/requirement-modules/RequireAllModule.sol
  metabased-contracts/src/requirement-modules/RequireAnyModule.sol
  metabased-contracts/src/sequencing-modules/AllowlistSequencingModule.sol
  metabased-contracts/src/sequencing-modules/AlwaysAllowedModule.sol
  metabased-contracts/src/sequencing-modules/NotInitializedModule.sol
  metabased-contracts/src/sequencing-modules/SealedBidAuctionSequencingModule.sol
  metabased-contracts/src/sequencing-modules/TokenBalanceSequencingModule.sol
  metabased-contracts/src/sequencing-modules/calldata-modules/CalldataAlwaysAllowedModule.sol
  metabased-contracts/test/MetaBasedSequencerChainTest.t.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
  metabased-contracts/test/SequencingModuleCheckerTest.t.sol
  metabased-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  metabased-contracts/test/requirement-modules/RequireAllModuleTest.t.sol
  metabased-contracts/test/requirement-modules/RequireAnyModuleTest.t.sol
  metabased-contracts/test/sequencing-modules/AllowlistSequencerModuleTest.t.sol
  metabased-contracts/test/sequencing-modules/AlwaysAllowedModuleTest.t.sol
  metabased-contracts/test/sequencing-modules/NotInitializedModuleTest.t.sol
  metabased-contracts/test/sequencing-modules/TokenBalanceSequencingModuleTest.t.sol
  metabased-contracts/test/sequencing-modules/calldata-modules/CalldataAlwaysAllowedModuleTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/metabased/addbatchtransactionstometabasedsequencerchaincontract.rs
  shared/contract-bindings/src/metabased/allowlistsequencingmodule.rs
  shared/contract-bindings/src/metabased/alwaysallowedmodule.rs
  shared/contract-bindings/src/metabased/atomicsequencer.rs
  shared/contract-bindings/src/metabased/atomicsequencerimplementation.rs
  shared/contract-bindings/src/metabased/calldataalwaysallowedmodule.rs
  shared/contract-bindings/src/metabased/calldatapermissionmodule.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/ipermissionmodule.rs
  shared/contract-bindings/src/metabased/irequirementmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchain.rs
  shared/contract-bindings/src/metabased/mockisallowed.rs
  shared/contract-bindings/src/metabased/mockisallowedfalse.rs
  shared/contract-bindings/src/metabased/mockisallowedtrue.rs
  shared/contract-bindings/src/metabased/mockmetabasedsequencerchain.rs
  shared/contract-bindings/src/metabased/mockpermissionallowedfalse.rs
  shared/contract-bindings/src/metabased/mockpermissionallowedtrue.rs
  shared/contract-bindings/src/metabased/mockproposerallowedfalse.rs
  shared/contract-bindings/src/metabased/mod.rs
  shared/contract-bindings/src/metabased/notinitializedmodule.rs
  shared/contract-bindings/src/metabased/proposerpermissionmodule.rs
  shared/contract-bindings/src/metabased/requireallmodule.rs
  shared/contract-bindings/src/metabased/requireanymodule.rs
  shared/contract-bindings/src/metabased/sealedbidauctionsequencingmodule.rs
  shared/contract-bindings/src/metabased/sequencingmodulechecker.rs
  shared/contract-bindings/src/metabased/sequencingmodulecheckermock.rs
  shared/contract-bindings/src/metabased/tokenbalancesequencingmodule.rs
  shared/contract-bindings/src/metabased/walletpoolwrappermodule.rs
Owners: none

fix certora specs
  metabased-contracts/certora/conf/MetabasedSequencerChain.conf
  metabased-contracts/certora/specs/AllowlistSequencingModule.spec
  metabased-contracts/certora/specs/AtomicSequencerImplementation.spec
  metabased-contracts/certora/specs/MetabasedSequencerChain.spec
  metabased-contracts/certora/specs/RequireAllModule.spec
  metabased-contracts/certora/specs/RequireAnyModule.spec
  metabased-contracts/certora/specs/helpers/CalldataPermissionModuleBasic.sol
  metabased-contracts/certora/specs/helpers/PermissionModuleBasic.sol
Owners: @WillPapper, @gustavoguimaraes

assert chain head is after start block
  metabased-translator/crates/ingestor/src/ingestor.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add example test for extension contracts
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
Owners: @WillPapper, @gustavoguimaraes

fix certora proof
  metabased-contracts/certora/specs/WalletPoolWrapperModule.spec
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/metabased/metabasedsequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/metabased/mockcalldataallowed.rs
Owners: none

assert chain head is after start block before reconciliation
  metabased-translator/bin/metabased-translator/src/spawn.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Add Explorer Links to all contract addresses
  metabased-contracts/README.md
Owners: @WillPapper, @gustavoguimaraes

SEQ-839: Add Explorer Links to all contract addresses
  metabased-contracts/README.md
Owners: @WillPapper, @gustavoguimaraes

revisions
  mchain/src/db.rs
  mchain/src/mchain.rs
  metabased-translator/crates/ingestor/src/ingestor.rs
  metabased-translator/crates/slotter/src/slotter.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

DRY
  metabased-translator/bin/metabased-translator/src/spawn.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

assert chain head is after start block (#440)
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/crates/ingestor/src/ingestor.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/metabased-contracts @WillPapper @gustavoguimaraes

/metabased-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-sequencer @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne
