Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

refactor test framework componengts
  test-framework/tests/components/maestro.rs
  test-framework/tests/components/test_components.rs
Owners: none

modify extension example to reflect recent interface change
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
  metabased-contracts/test/extensions/MetabasedSequencerChainWithDecayingPriorityTest.t.sol
  shared/contract-bindings/src/metabased/metabasedsequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/metabased/mockcalldataallowed.rs
  shared/contract-bindings/src/metabased/mod.rs
Owners: @WillPapper, @gustavoguimaraes

edit config README
  metabased-contracts/src/config/README.md
Owners: @WillPapper, @gustavoguimaraes

imp: refactor test-framework (#449)
  test-framework/tests/components/configuration.rs
  test-framework/tests/components/maestro.rs
  test-framework/tests/components/mod.rs
  test-framework/tests/components/poster.rs
  test-framework/tests/components/sequencer.rs
  test-framework/tests/components/test_components.rs
  test-framework/tests/components/timer.rs
  test-framework/tests/components/translator.rs
  test-framework/tests/e2e_tests.rs
Owners: none

Improve ArbChainConfig
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-contracts/test/config/ArbChainConfigTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

feat: remove tc dependency
  Cargo.lock
  Cargo.toml
  shared/src/additive_compression.rs
  shared/src/types.rs
  tc-sequencer/Cargo.toml
  tc-sequencer/crates/batcher/Cargo.toml
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
  tc-sequencer/crates/tc-client/Cargo.toml
  tc-sequencer/crates/tc-client/src/config.rs
  tc-sequencer/crates/tc-client/src/lib.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
  tc-sequencer/src/config.rs
  tc-sequencer/src/lib.rs
  tc-sequencer/src/main.rs
  tc-sequencer/src/server.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

shared FilledProvider
  Cargo.lock
  metabased-poster/src/poster.rs
  metabased-poster/tests/utils/mod.rs
  shared/test-utils/Cargo.toml
  shared/test-utils/src/anvil.rs
  test-framework/tests/components/configuration.rs
  test-framework/tests/components/tc_sequencer.rs
  test-framework/tests/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Fix createArbChainConfig argument count
  test-framework/tests/components/configuration.rs
Owners: none

Add appchain_block_explorer_url to TranslatorConfig
  test-framework/tests/components/translator.rs
Owners: none

rename to batch-sequencer
  .github/workflows/publish-images.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  batch-sequencer/Cargo.toml
  batch-sequencer/README.md
  batch-sequencer/crates/batcher/Cargo.toml
  batch-sequencer/crates/batcher/src/batcher.rs
  batch-sequencer/crates/batcher/src/config.rs
  batch-sequencer/crates/batcher/src/lib.rs
  batch-sequencer/src/main.rs
  build_all_docker_targets.sh
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Add appchain_block_explorer_url to TranslatorConfig initialization
  test-framework/tests/components/test_components.rs
Owners: none

Add #[allow(dead_code)] attribute to appchain_block_explorer_url field
  test-framework/tests/components/test_components.rs
Owners: none

feat: maestro passthru read to redis
  maestro/src/config.rs
  maestro/src/errors.rs
  maestro/src/lib.rs
  maestro/src/maestro_service.rs
  maestro/src/redis/mod.rs
  maestro/src/redis/producer.rs
  maestro/src/redis/string.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
  metabased-sequencer/src/relayer.rs
  shared/src/json_rpc.rs
  shared/src/tx_validation.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: maestro passthru read to redis
  maestro/src/server.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: maestro passthru read to redis
  maestro/src/maestro_service.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Make ALLOWED_SETTLEMENT_ADDRESSES immutable and reorganize storage variables
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-contracts/test/config/ArbChainConfigTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

Update contract bindings with immutable ALLOWED_SETTLEMENT_ADDRESSES
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

Add clearer comment separators for mutable and immutable parameters
  metabased-contracts/src/config/ArbChainConfig.sol
Owners: @WillPapper, @gustavoguimaraes

Update contract bindings with ALLOWED_SETTLEMENT_ADDRESSES
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

Add missing ALLOWED_SETTLEMENT_ADDRESSES parameter to createArbChainConfig
  test-framework/tests/components/configuration.rs
Owners: none

Fix whitespace formatting in ArbChainConfig.sol
  metabased-contracts/src/config/ArbChainConfig.sol
Owners: @WillPapper, @gustavoguimaraes

Update contract bindings for metabased-contracts
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

fix unit test
  batch-sequencer/crates/batcher/src/batcher.rs
  batch-sequencer/crates/batcher/src/config.rs
Owners: none

update readme
  batch-sequencer/README.md
Owners: none

some PR comments, tests pass
  maestro/src/config.rs
  maestro/src/errors.rs
  maestro/src/lib.rs
  maestro/src/maestro.rs
  maestro/src/redis/producer.rs
  maestro/src/redis/string.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

some PR comments, tests pass
  maestro/src/errors.rs
  maestro/src/maestro.rs
  maestro/src/redis/string.rs
  maestro/src/server.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

PR comments, tests pass
  maestro/src/maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

remove metafiller storage from factory
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedFactory.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

update testCreateMetabasedSequencerChainWithRequireAll
  metabased-contracts/test/MetabasedFactoryTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

feat: Maestro cache-aside strategy for wallet nonces using Redis + RPC (#448)
  maestro/src/errors.rs
  maestro/src/lib.rs
  maestro/src/maestro.rs
  maestro/src/redis/mod.rs
  maestro/src/redis/producer.rs
  maestro/src/redis/string.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
  metabased-sequencer/src/relayer.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
  shared/src/json_rpc.rs
  shared/src/tx_validation.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

testCreateMetabasedSequencerChainWithRequireAny test
  metabased-contracts/test/MetabasedFactoryTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

bindings
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
Owners: none

add e2e test
  Cargo.lock
  batch-sequencer/crates/batcher/src/batcher.rs
  batch-sequencer/crates/batcher/src/config.rs
  batch-sequencer/src/main.rs
  maestro/src/config.rs
  maestro/src/main.rs
  maestro/tests/integration_test.rs
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
  shared/test-utils/src/anvil.rs
  shared/test-utils/src/docker.rs
  test-framework/Cargo.toml
  test-framework/tests/components/batch_sequencer.rs
  test-framework/tests/components/configuration.rs
  test-framework/tests/components/maestro.rs
  test-framework/tests/components/mod.rs
  test-framework/tests/components/tc_sequencer.rs
  test-framework/tests/components/test_components.rs
  test-framework/tests/e2e_tests.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add tc-client
  Cargo.lock
  Cargo.toml
  batch-sequencer/Cargo.toml
  batch-sequencer/crates/batcher/Cargo.toml
  batch-sequencer/crates/batcher/src/batcher.rs
  batch-sequencer/crates/batcher/src/config.rs
  batch-sequencer/crates/tc-client/Cargo.toml
  batch-sequencer/crates/tc-client/src/config.rs
  batch-sequencer/crates/tc-client/src/lib.rs
  batch-sequencer/crates/tc-client/src/tc_client.rs
  batch-sequencer/src/config.rs
  batch-sequencer/src/lib.rs
  batch-sequencer/src/main.rs
  test-framework/tests/components/batch_sequencer.rs
  test-framework/tests/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add factory deployment to README
  metabased-contracts/README.md
Owners: @WillPapper, @gustavoguimaraes

update readme
  batch-sequencer/README.md
  maestro/src/maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

remove log
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

remove log
  test-framework/tests/components/configuration.rs
Owners: none

use forge v1.0.0 in CI
  .github/workflows/contracts-check.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/metabased-contracts @WillPapper @gustavoguimaraes

/metabased-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-sequencer @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne
