Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/metabased-contracts @WillPapper @gustavoguimaraes

/metabased-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-sequencer @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

add more tests
  batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

[SEQ-871] Remove `MetafillerStorage` from `MetabasedFactory` (#451)
  .github/workflows/contracts-check.yaml
  metabased-contracts/README.md
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedFactory.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

Feature/seq 855 chain config contract changes (#445)
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-contracts/src/config/ArbConfigManager.sol
  metabased-contracts/src/config/README.md
  metabased-contracts/test/config/ArbChainConfigTest.t.sol
  metabased-contracts/test/config/ArbConfigManagerTest.t.sol
  metabased-translator/bin/metabased-translator/src/config.rs
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
  test-framework/tests/components/configuration.rs
  test-framework/tests/components/test_components.rs
  test-framework/tests/components/translator.rs
Owners: @WillPapper, @gustavoguimaraes, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add allow back
  test-framework/tests/components/test_components.rs
Owners: none

config validation + readme
  batch-sequencer/README.md
  batch-sequencer/crates/batcher/src/config.rs
  batch-sequencer/src/main.rs
Owners: none

config validation
  Cargo.lock
  batch-sequencer/Cargo.toml
  batch-sequencer/crates/tc-client/src/config.rs
  batch-sequencer/crates/tc-client/src/tc_client.rs
  batch-sequencer/src/config.rs
  batch-sequencer/src/main.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

config validation
  batch-sequencer/crates/tc-client/src/tc_client.rs
  batch-sequencer/src/config.rs
  batch-sequencer/src/main.rs
Owners: none

add Semaphore
  batch-sequencer/crates/batcher/src/batcher.rs
  shared/src/additive_compression.rs
  test-framework/tests/components/configuration.rs
Owners: none

add timeout
  batch-sequencer/crates/batcher/src/batcher.rs
  batch-sequencer/crates/batcher/src/config.rs
Owners: none

add synd prefix
  .github/workflows/publish-images.yaml
  Cargo.lock
  Cargo.toml
  Dockerfile
  build_all_docker_targets.sh
  synd-batch-sequencer/Cargo.toml
  synd-batch-sequencer/README.md
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/config.rs
  synd-batch-sequencer/crates/batcher/src/lib.rs
  synd-batch-sequencer/crates/tc-client/Cargo.toml
  synd-batch-sequencer/crates/tc-client/src/config.rs
  synd-batch-sequencer/crates/tc-client/src/lib.rs
  synd-batch-sequencer/crates/tc-client/src/tc_client.rs
  synd-batch-sequencer/src/config.rs
  synd-batch-sequencer/src/lib.rs
  synd-batch-sequencer/src/main.rs
  test-framework/tests/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

rm chain id check
  synd-batch-sequencer/crates/batcher/src/config.rs
Owners: none

fix test
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

fix test
  synd-batch-sequencer/crates/tc-client/src/tc_client.rs
Owners: none

rm polling interval
  synd-batch-sequencer/README.md
Owners: none

fix: default tag
  .github/workflows/publish-images.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix: default tag
  .github/workflows/publish-images.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix: publish script default tag (#453)
  .github/workflows/publish-images.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

mchain uses config manager
  mchain/src/main.rs
  mchain/tests/signal_tests.rs
  metabased-translator/bin/metabased-translator/src/config.rs
  metabased-translator/bin/metabased-translator/src/config_manager.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/tests/tests/integration_tests.rs
  shared/test-utils/src/docker.rs
  test-framework/tests/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Add `/health` to all services, use in e2e tests
  shared/src/metrics.rs
  shared/test-utils/src/docker.rs
  test-framework/tests/components/test_components.rs
Owners: none

Add a health_check helper
  mchain/src/main.rs
  shared/test-utils/src/docker.rs
Owners: none

Add `/health` via RPC proxy to mchain
  Cargo.lock
  mchain/Cargo.toml
  mchain/src/main.rs
  shared/test-utils/src/docker.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Refactor `health_check` helper
  shared/test-utils/src/docker.rs
Owners: none

create calldata limit tx against exo chain
  metabased-contracts/test/benchmark/TransactionSizeLimitIntegrationTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

remove limit
  metabased-contracts/test/benchmark/TransactionSizeLimitIntegrationTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

change l3 reference to appchain
  metabased-contracts/certora/specs/MetabasedSequencerChain.spec
  metabased-contracts/pre-audit/contract.MetabasedFactory.md
  metabased-contracts/pre-audit/contract.MetabasedSequencerChain.md
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedFactory.sol
  metabased-contracts/src/MetabasedSequencerChain.sol
  metabased-contracts/src/backfill/MetafillerStorage.sol
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
  metabased-contracts/test/MetaBasedSequencerChainTest.t.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
  metabased-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  metabased-contracts/test/backfill/MetafillerStorageTest.t.sol
  metabased-contracts/test/extensions/MetabasedSequencerChainWithDecayingPriorityTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

add auto-increment to Metabased Factory
  metabased-contracts/src/MetabasedFactory.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

switch L3 reference to App chain
  metabased-contracts/Makefile
  metabased-contracts/pre-audit/contract.MetabasedFactory.md
  metabased-contracts/pre-audit/contract.MetabasedSequencerChain.md
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedSequencerChain.sol
  metabased-contracts/src/backfill/MetafillerStorage.sol
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
  metabased-contracts/test/backfill/MetafillerStorageTest.t.sol
  metabased-contracts/test/extensions/MetabasedSequencerChainWithDecayingPriorityTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

mchain uses config manager (#456)
  mchain/src/main.rs
  mchain/tests/signal_tests.rs
  metabased-translator/bin/metabased-translator/src/config.rs
  metabased-translator/bin/metabased-translator/src/config_manager.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/tests/tests/integration_tests.rs
  shared/test-utils/src/docker.rs
  test-framework/tests/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

rust bindings
  shared/contract-bindings/src/metabased/addbatchtransactionstometabasedsequencerchaincontract.rs
  shared/contract-bindings/src/metabased/allowlistmetafillerstorageaddresses.rs
  shared/contract-bindings/src/metabased/atomicsequencer.rs
  shared/contract-bindings/src/metabased/atomicsequencerimplementation.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchain.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/metabased/metafillerstorage.rs
  shared/contract-bindings/src/metabased/mockisallowed.rs
Owners: none

Try starting mchain without health_check in tests
  shared/test-utils/src/docker.rs
Owners: none

Rename health_port to api_port
  shared/test-utils/src/docker.rs
Owners: none

Hide rpc_logger behind an mchain CLI flag
  mchain/src/main.rs
Owners: none

Move health_handler to separate health module
  shared/src/health.rs
  shared/src/lib.rs
  shared/src/metrics.rs
Owners: none

Fix clippy
  shared/src/health.rs
Owners: none

Revert "Hide rpc_logger behind an mchain CLI flag"
  mchain/src/main.rs
Owners: none

add access control for MetabasedFactory
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedFactory.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
  metabased-contracts/test/backfill/MetafillerStorageTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
Owners: none

abstract batch_sender
  Cargo.lock
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/lib.rs
  synd-batch-sequencer/crates/batcher/src/metrics.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Feature/seq 824 auto increment (#459)
  metabased-contracts/Makefile
  metabased-contracts/certora/specs/MetabasedSequencerChain.spec
  metabased-contracts/pre-audit/contract.MetabasedFactory.md
  metabased-contracts/pre-audit/contract.MetabasedSequencerChain.md
  metabased-contracts/script/DeployContractsForSequencerChain.s.sol
  metabased-contracts/src/MetabasedFactory.sol
  metabased-contracts/src/MetabasedSequencerChain.sol
  metabased-contracts/src/backfill/MetafillerStorage.sol
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
  metabased-contracts/test/MetaBasedSequencerChainTest.t.sol
  metabased-contracts/test/MetabasedFactoryTest.t.sol
  metabased-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  metabased-contracts/test/backfill/MetafillerStorageTest.t.sol
  metabased-contracts/test/extensions/MetabasedSequencerChainWithDecayingPriorityTest.t.sol
  shared/contract-bindings/src/metabased/addbatchtransactionstometabasedsequencerchaincontract.rs
  shared/contract-bindings/src/metabased/allowlistmetafillerstorageaddresses.rs
  shared/contract-bindings/src/metabased/atomicsequencer.rs
  shared/contract-bindings/src/metabased/atomicsequencerimplementation.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchain.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/metabased/metafillerstorage.rs
  shared/contract-bindings/src/metabased/mockisallowed.rs
Owners: @WillPapper, @gustavoguimaraes

fix outstanding txs
  shared/src/additive_compression.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/metrics.rs
Owners: none
