Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/synd-contracts @WillPapper @gustavoguimaraes

/synd-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

change to appchainId where it was not changed before
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencingchaincontract.rs
  shared/contract-bindings/src/synd/allowlistsyndicatestorageaddresses.rs
  shared/contract-bindings/src/synd/atomicsequencer.rs
  shared/contract-bindings/src/synd/atomicsequencerimplementation.rs
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/directmockmodule.rs
  shared/contract-bindings/src/synd/mockisallowed.rs
  shared/contract-bindings/src/synd/mockisallowedwithinvaliddata.rs
  shared/contract-bindings/src/synd/mocksyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  shared/contract-bindings/src/synd/syndicatestorage.rs
  shared/contract-bindings/src/synd/walletpoolwrappermodule.rs
  synd-contracts/certora/specs/SyndicateSequencingChain.spec
  synd-contracts/docs-pre-audit/src/src/SyndicateFactory.sol/contract.SyndicateFactory.md
  synd-contracts/docs-pre-audit/src/src/SyndicateSequencingChain.sol/contract.SyndicateSequencingChain.md
  synd-contracts/docs-pre-audit/src/src/backfill/SyndicateStorage.sol/contract.SyndicateStorage.md
  synd-contracts/script/DeployContractsForSequencingChain.s.sol
  synd-contracts/src/SyndicateFactory.sol
  synd-contracts/src/backfill/SyndicateStorage.sol
  synd-contracts/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
  synd-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  synd-contracts/test/backfill/SyndicateStorageTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

more CI fixes
  synd-contracts/certora/specs/WalletPoolWrapperModule.spec
  test-framework/src/components/test_components.rs
Owners: @WillPapper, @gustavoguimaraes

merkle verification working
  synd-withdrawals/synd-appchain-verifier/src/config.rs
  synd-withdrawals/synd-appchain-verifier/src/main.rs
  synd-withdrawals/synd-appchain-verifier/src/types.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
Owners: none

add block header verification
  synd-withdrawals/synd-appchain-verifier/src/types.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
Owners: none

remove batch count storage slot
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/syndicateaccumulator.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  synd-contracts/certora/conf/SyndicateSequencingChain.conf
  synd-contracts/certora/specs/helpers/ArbSys.sol
  synd-contracts/src/SyndicateAccumulator.sol
Owners: @WillPapper, @gustavoguimaraes

update tee module
  shared/arb-contracts/src/TeeModule.sol
  shared/contract-bindings/src/arbitrum/il1block.rs
  shared/contract-bindings/src/arbitrum/teemodule.rs
Owners: none

misc comments
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

refactor StreamProducer instance methods
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/streams/consumer.rs
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

maestro reorg e2e test
  synd-maestro/src/redis/streams/producer.rs
  test-framework/src/components/configuration.rs
  test-framework/src/components/maestro.rs
  test-framework/src/components/test_components.rs
  test-framework/tests/e2e_tests.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fixed e2e_maestro_reorg_handling test
  test-framework/tests/e2e_tests.rs
Owners: none

remove comment
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add assertion to constructor
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/syndicateaccumulator.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  synd-contracts/src/SyndicateAccumulator.sol
Owners: @WillPapper, @gustavoguimaraes

[SEQ-920]: update node operator docs
  documentation/testnet/README.md
  documentation/testnet/docker/rpc-node-docker-compose.yml
  documentation/testnet/ingestor.md
Owners: none

fix var names
  documentation/testnet/ingestor.md
Owners: none

fix test
  test-framework/tests/e2e_tests.rs
Owners: none

allow RPC provider to remain created if chain_id check is not available during boot
  synd-maestro/src/config.rs
  synd-maestro/src/maestro.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

maestro reorg handling (#481)
  Cargo.lock
  Cargo.toml
  shared/src/tx_validation.rs
  shared/test-utils/src/docker.rs
  shared/test-utils/src/utils.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-maestro/Cargo.toml
  synd-maestro/src/config.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/main.rs
  synd-maestro/src/redis/models/waiting_transaction.rs
  synd-maestro/src/redis/models/wallet_nonce.rs
  synd-maestro/src/redis/streams/consumer.rs
  synd-maestro/src/redis/streams/producer.rs
  synd-maestro/src/server.rs
  synd-maestro/tests/integration_test.rs
  test-framework/src/components/configuration.rs
  test-framework/src/components/maestro.rs
  test-framework/src/components/test_components.rs
  test-framework/tests/e2e_tests.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

maestro: assert tx sender has balance for gas_limit * gas_price + value
  shared/src/json_rpc.rs
  synd-maestro/src/errors.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/server.rs
  synd-maestro/tests/integration_test.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix batcher
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

fix test
  test-framework/src/components/test_components.rs
Owners: none

Fix: Format Rust code with cargo fmt
  test-framework/tests/e2e_tests.rs
Owners: none
