Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/metabased-contracts @WillPapper @gustavoguimaraes

/metabased-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-sequencer @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

cleanup
  shared/src/additive_compression.rs
  shared/src/batch_compression.rs
  shared/src/lib.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/metrics.rs
  synd-batch-sequencer/src/main.rs
Owners: none

improve test_path to avoid collisions
  shared/test-utils/src/utils.rs
Owners: none

remove batcher semaphore
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

qualify byte_unit::Byte
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/config.rs
Owners: none

move batch_compression.rs to batcher crate
  Cargo.lock
  shared/Cargo.toml
  shared/src/lib.rs
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batch_compression.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/lib.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

outstanding tx logic improvement
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

PR improvements
  synd-batch-sequencer/src/main.rs
Owners: none

Fix: batcher outstanding txs, adds batcher metrics (#460)
  Cargo.lock
  shared/Cargo.toml
  shared/src/additive_compression.rs
  shared/src/lib.rs
  shared/test-utils/src/utils.rs
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batch_compression.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/config.rs
  synd-batch-sequencer/crates/batcher/src/lib.rs
  synd-batch-sequencer/crates/batcher/src/metrics.rs
  synd-batch-sequencer/src/main.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

working version
  Dockerfile
  chain-ingestor/src/client.rs
  chain-ingestor/src/db.rs
  chain-ingestor/src/eth_client.rs
  chain-ingestor/src/ingestor.rs
  chain-ingestor/src/main.rs
  chain-ingestor/src/server.rs
  mchain/src/main.rs
  mchain/src/server.rs
  metabased-translator/bin/metabased-translator/src/types.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
  metabased-translator/docker-compose/manchego.json
  metabased-translator/docker-compose/manchego.yaml
  shared/src/metrics.rs
  shared/src/types.rs
  shared/test-utils/src/docker.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add chain-ingestor to ci images
  .github/workflows/publish-images.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  Cargo.lock
  Cargo.toml
  maestro/Cargo.toml
  maestro/README.md
  maestro/src/errors.rs
  maestro/src/maestro.rs
  maestro/src/main.rs
  maestro/src/redis/keys.rs
  maestro/src/redis/mod.rs
  maestro/src/redis/models/mod.rs
  maestro/src/redis/models/waiting_transaction.rs
  maestro/src/redis/models/wallet_nonce.rs
  maestro/src/redis/streams/consumer.rs
  maestro/src/redis/streams/mod.rs
  maestro/src/redis/streams/producer.rs
  maestro/src/redis/test_utils.rs
  maestro/src/redis/ttl.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
  shared/src/tx_validation.rs
  shared/test-utils/src/docker.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  test-framework/tests/components/configuration.rs
  test-framework/tests/components/test_components.rs
  test-framework/tests/e2e_tests.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

revisions
  Cargo.lock
  Cargo.toml
  chain-ingestor/Cargo.toml
  chain-ingestor/src/client.rs
  chain-ingestor/src/db.rs
  chain-ingestor/src/eth_client.rs
  chain-ingestor/src/ingestor.rs
  chain-ingestor/src/lib.rs
  chain-ingestor/src/main.rs
  chain-ingestor/src/server.rs
  mchain/Cargo.toml
  mchain/src/client.rs
  mchain/src/main.rs
  mchain/src/server.rs
  metabased-poster/Cargo.toml
  metabased-sequencer/Cargo.toml
  metabased-translator/bin/metabased-translator/Cargo.toml
  metabased-translator/bin/metabased-translator/src/config.rs
  metabased-translator/bin/metabased-translator/src/config_manager.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/bin/metabased-translator/src/types.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
  metabased-translator/crates/common/Cargo.toml
  metabased-translator/crates/ingestor/Cargo.toml
  metabased-translator/crates/ingestor/src/config.rs
  metabased-translator/crates/ingestor/src/lib.rs
  metabased-translator/crates/metrics/Cargo.toml
  metabased-translator/crates/slotter/Cargo.toml
  metabased-translator/crates/slotter/src/slotter.rs
  shared/Cargo.toml
  shared/src/json_rpc.rs
  shared/src/types.rs
  test-framework/Cargo.toml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  maestro/src/maestro.rs
  maestro/src/redis/models/wallet_nonce.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

translator: read ALLOWED_SETTLEMENT_ADDRESSES from on-chain config
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-translator/bin/metabased-translator/src/config_manager.rs
  metabased-translator/crates/block-builder/src/config.rs
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: @WillPapper, @gustavoguimaraes, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

translator: read ALLOWED_SETTLEMENT_ADDRESSES from on-chain config (#461)
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-translator/bin/metabased-translator/src/config_manager.rs
  metabased-translator/crates/block-builder/src/config.rs
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: @WillPapper, @gustavoguimaraes, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  Cargo.lock
  maestro/Cargo.toml
  maestro/src/maestro.rs
  maestro/src/redis/keys.rs
  maestro/src/redis/models/wallet_nonce.rs
  maestro/src/server.rs
  shared/test-utils/src/docker.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  maestro/src/maestro.rs
  maestro/src/redis/models/waiting_transaction.rs
  maestro/src/server.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  maestro/src/redis/keys.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix deposit test
  test-framework/tests/e2e_tests_maestro.rs
Owners: none

feat: put waiting txns into Redis
  maestro/src/maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  test-framework/tests/components/test_components.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: none

revisions part 2 (thanks Jorge)!
  Cargo.toml
  chain-ingestor/Cargo.toml
  chain-ingestor/src/client.rs
  chain-ingestor/src/eth_client.rs
  chain-ingestor/src/ingestor.rs
  chain-ingestor/src/main.rs
  chain-ingestor/src/server.rs
  mchain/src/client.rs
  mchain/src/server.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/crates/slotter/src/slotter.rs
  shared/src/types.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: put waiting txns into Redis
  test-framework/tests/e2e_tests_maestro.rs
Owners: none

feat: put waiting txns into Redis
  test-framework/tests/components/test_components.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: none

feat: put waiting txns into Redis
  Cargo.lock
  maestro/Cargo.toml
  maestro/src/maestro.rs
  test-framework/tests/e2e_tests_maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

final changes
  chain-ingestor/src/db.rs
  chain-ingestor/src/ingestor.rs
  chain-ingestor/src/server.rs
  metabased-translator/bin/metabased-translator/src/config.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/optimism/optimism_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/shared/rollup_adapter.rs
  metabased-translator/crates/slotter/src/slotter.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update docker-compose test file
  metabased-translator/docker-compose/manchego.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

refactor(shared): move metrics and health to service_start_utils
  maestro/src/main.rs
  mchain/src/main.rs
  metabased-poster/src/main.rs
  metabased-sequencer/src/main.rs
  metabased-sequencer/src/metrics.rs
  metabased-sequencer/src/relayer.rs
  metabased-sequencer/src/server.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/crates/ingestor/src/ingestor.rs
  metabased-translator/crates/metrics/src/metrics.rs
  shared/src/health.rs
  shared/src/lib.rs
  shared/src/service_start_utils.rs
  synd-batch-sequencer/src/main.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Add `/health` to all services, use in e2e tests (#454)
  Cargo.lock
  maestro/src/main.rs
  mchain/Cargo.toml
  mchain/src/main.rs
  metabased-poster/src/main.rs
  metabased-sequencer/src/main.rs
  metabased-sequencer/src/metrics.rs
  metabased-sequencer/src/relayer.rs
  metabased-sequencer/src/server.rs
  metabased-translator/bin/metabased-translator/src/spawn.rs
  metabased-translator/crates/ingestor/src/ingestor.rs
  metabased-translator/crates/metrics/src/metrics.rs
  shared/src/lib.rs
  shared/src/service_start_utils.rs
  shared/test-utils/src/docker.rs
  synd-batch-sequencer/src/main.rs
  test-framework/tests/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne
