Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

[SEQ-882]: CICD and docs Branding Rename
  .cloudbuild/deploy-sequencer-testnet.yaml
  .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images.yaml
  documentation/node-operators/run-rpc-node-docker.md
  documentation/testnet/config/chain_info.json.example
  documentation/testnet/docker/ingestor-docker-compose.yml
  documentation/testnet/docker/rpc-node-docker-compose.yml
  documentation/testnet/run-an-ingestor.md
  documentation/testnet/run-an-rpc-node.md
  infra/testnet/docker-compose.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix
  documentation/testnet/docker/rpc-node-docker-compose.yml
Owners: none

replace docker-compose directory too
  .github/workflows/certora.yml
  .github/workflows/contracts-check.yaml
  .github/workflows/olympix.yml
  .github/workflows/publish-images-dry-run.yaml
  .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images.yaml
  docker-compose/README.md
  docker-compose/devnet.json
  docker-compose/devnet.yaml
  documentation/local/README.md
  documentation/local/config/burrata.env
  documentation/local/config/burrata.json
  documentation/local/config/cheddar.env
  documentation/local/config/cheddar.json
  documentation/local/config/manchego.env
  documentation/local/config/manchego.json
  documentation/local/docker-compose.yml
  documentation/testnet/README.md
  documentation/testnet/ingestor.md
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix
  documentation/local/README.md
  documentation/testnet/README.md
Owners: none

fix
  .gitignore
  synd-translator/README.md
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: synd enclave + synd appchain verifier + synd withdrawals folder
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
Owners: none

feat: synd enclave + synd appchain verifier + synd withdrawals folder
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
Owners: none

add synd-enclave types
  synd-withdrawals/synd-appchain-verifier/src/config.rs
  synd-withdrawals/synd-appchain-verifier/src/verifier.rs
  synd-withdrawals/synd-enclave/enclave/client.go
  synd-withdrawals/synd-enclave/enclave/rpc.go
  synd-withdrawals/synd-enclave/enclave/server.go
  synd-withdrawals/synd-enclave/enclave/verify.go
Owners: none

add synd-enclave types
  synd-withdrawals/synd-appchain-verifier/src/main.rs
Owners: none

misc improvements
  Cargo.lock
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-maestro/Cargo.toml
  synd-maestro/src/config.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/models/waiting_transaction.rs
  synd-maestro/src/redis/models/wallet_nonce.rs
  synd-maestro/src/redis/streams/consumer.rs
  synd-maestro/src/redis/streams/producer.rs
  synd-maestro/src/server.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

write-side reorg handling
  Cargo.lock
  shared/src/tx_validation.rs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-maestro/Cargo.toml
  synd-maestro/src/config.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/streams/consumer.rs
  synd-maestro/src/redis/streams/producer.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

attempt to improve test_path to avoid collisions
  shared/test-utils/src/utils.rs
Owners: none

fix leaking containers
  shared/test-utils/src/docker.rs
  synd-maestro/src/maestro.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

change SyndicateSequencer to SyndicateSequencing
  synd-contracts/Makefile
  synd-contracts/README.md
  synd-contracts/certora/conf/AtomicSequencerImplementation.conf
  synd-contracts/certora/conf/SyndicateSequencingChain.conf
  synd-contracts/certora/conf/WalletPoolWrapperModule.conf
  synd-contracts/certora/specs/AtomicSequencerImplementation.spec
  synd-contracts/certora/specs/SyndicateSequencingChain.spec
  synd-contracts/certora/specs/WalletPoolWrapperModule.spec
  synd-contracts/docs-pre-audit/AUDIT_README.md
  synd-contracts/docs-pre-audit/src/README.md
  synd-contracts/docs-pre-audit/src/SUMMARY.md
  synd-contracts/docs-pre-audit/src/src/README.md
  synd-contracts/docs-pre-audit/src/src/SyndicateFactory.sol/contract.SyndicateFactory.md
  synd-contracts/docs-pre-audit/src/src/SyndicateSequencerChain.sol/contract.SyndicateSequencerChain.md
  synd-contracts/docs-pre-audit/src/src/SyndicateSequencingChain.sol/contract.SyndicateSequencingChain.md
  synd-contracts/docs-pre-audit/src/src/atomic-sequencer/AtomicSequencerImplementation.sol/contract.AtomicSequencerImplementation.md
  synd-contracts/docs-pre-audit/src/src/extensions/README.md
  synd-contracts/docs-pre-audit/src/src/extensions/SyndicateSequencerChainWithDecayingPriority.sol/contract.SyndicateSequencerChainWithDecayingPriority.md
  synd-contracts/docs-pre-audit/src/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol/contract.SyndicateSequencingChainWithDecayingPriority.md
  synd-contracts/docs-pre-audit/src/src/interfaces/ISyndicateSequencerChain.sol/interface.ISyndicateSequencerChain.md
  synd-contracts/docs-pre-audit/src/src/interfaces/ISyndicateSequencingChain.sol/interface.ISyndicateSequencingChain.md
  synd-contracts/docs-pre-audit/src/src/interfaces/README.md
  synd-contracts/docs-pre-audit/src/src/sequencing-modules/WalletPoolWrapperModule.sol/contract.WalletPoolWrapperModule.md
  synd-contracts/script/AddBatchTransactionsToMetaBasedSequencerChainContract.s.sol
  synd-contracts/script/AddBatchTransactionsToSyndicateSequencingChainContract.s.sol
  synd-contracts/script/DeployContractsForSequencingChain.s.sol
  synd-contracts/src/SyndicateFactory.sol
  synd-contracts/src/SyndicateSequencingChain.sol
  synd-contracts/src/atomic-sequencer/AtomicSequencerImplementation.sol
  synd-contracts/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol
  synd-contracts/src/interfaces/ISyndicateSequencingChain.sol
  synd-contracts/src/sequencing-modules/WalletPoolWrapperModule.sol
  synd-contracts/test/SyndicateFactoryTest.t.sol
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
  synd-contracts/test/atomic-sequencer/AtomicSequencerTest.t.sol
  synd-contracts/test/extensions/SyndicateSequencingChainWithDecayingPriorityTest.t.sol
  synd-contracts/test/sequencing-modules/WalletPoolWrapperModuleTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencerchaincontract.rs
  shared/contract-bindings/src/synd/addbatchtransactionstosyndicatesequencingchaincontract.rs
  shared/contract-bindings/src/synd/atomicsequencer.rs
  shared/contract-bindings/src/synd/atomicsequencerimplementation.rs
  shared/contract-bindings/src/synd/deploysyndicatefactory.rs
  shared/contract-bindings/src/synd/deploysyndicatefactorydirect.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/deploysyndicatesequencingchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/synd/isyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/mockisallowed.rs
  shared/contract-bindings/src/synd/mocksyndicatesequencingchain.rs
  shared/contract-bindings/src/synd/mod.rs
  shared/contract-bindings/src/synd/syndicatefactory.rs
  shared/contract-bindings/src/synd/syndicatesequencingchain.rs
  shared/contract-bindings/src/synd/syndicatesequencingchainwithdecayingpriority.rs
  shared/contract-bindings/src/synd/walletpoolwrappermodule.rs
Owners: none

change to SyndicateSequencingChain in CI
  .github/workflows/certora.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

more changes
  synd-translator/crates/synd-block-builder/src/appchains/shared/sequencing_transaction_parser.rs
  test-framework/src/components/test_components.rs
  use-cases/src/dream/AgentTransactionValidator.sol
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Refactor batcher without wallet pool or TC
  Cargo.lock
  Cargo.toml
  synd-batch-sequencer/Cargo.toml
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/config.rs
  synd-batch-sequencer/crates/tc-client/Cargo.toml
  synd-batch-sequencer/crates/tc-client/src/config.rs
  synd-batch-sequencer/crates/tc-client/src/lib.rs
  synd-batch-sequencer/crates/tc-client/src/tc_client.rs
  synd-batch-sequencer/src/config.rs
  synd-batch-sequencer/src/main.rs
  test-framework/src/components/batch_sequencer.rs
  test-framework/src/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Remove redudant check
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

Remove unused error
  synd-batch-sequencer/crates/batcher/src/batcher.rs
Owners: none

Address PR comments and refactor batch related code into a single file
  Cargo.lock
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/lib.rs
  synd-batch-sequencer/crates/batcher/src/sequencing_batch.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Update comments
  synd-batch-sequencer/src/main.rs
Owners: none

add more tests to SyndicateSequencingChain
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

Update .github/workflows/certora.yml
  .github/workflows/certora.yml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Update .github/workflows/publish-images-dry-run.yaml
  .github/workflows/publish-images-dry-run.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

better default values
  synd-maestro/src/config.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Update .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images-release.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Update documentation/local/README.md
  documentation/local/README.md
Owners: none

skip finalization check if xdel fails
  synd-maestro/src/redis/streams/producer.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update test
  synd-contracts/test/SyndicateSequencerChainTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

fixes from pr review
  .github/workflows/certora.yml
  .github/workflows/contracts-check.yaml
  .github/workflows/publish-images.yaml
  README.md
  documentation/local/README.md
  documentation/testnet/README.md
  documentation/testnet/ingestor.md
  synd-translator/README.md
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

bindings
  shared/contract-bindings/src/synd/mockisallowedwithinvaliddata.rs
  shared/contract-bindings/src/synd/mod.rs
Owners: none

update unhelpful comments
  shared/contract-bindings/src/synd/mockisallowedwithinvaliddata.rs
  synd-contracts/test/SyndicateSequencerChainTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/synd/directmockmodule.rs
  shared/contract-bindings/src/synd/mod.rs
Owners: none

implement max retries for non-finalized txs
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-maestro/src/config.rs
  synd-maestro/src/maestro.rs
  synd-maestro/src/redis/streams/consumer.rs
  synd-maestro/src/redis/streams/producer.rs
  synd-maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

[SEQ-882]: CICD and docs Branding Rename + Pre-Audit (#479)
  .cloudbuild/deploy-sequencer-testnet.yaml
  .github/workflows/certora.yml
  .github/workflows/contracts-check.yaml
  .github/workflows/olympix.yml
  .github/workflows/publish-images-dry-run.yaml
  .github/workflows/publish-images-release.yaml
  .github/workflows/publish-images.yaml
  .gitignore
  README.md
  docker-compose/README.md
  docker-compose/devnet.json
  docker-compose/devnet.yaml
  documentation/local/README.md
  documentation/local/config/burrata.env
  documentation/local/config/burrata.json
  documentation/local/config/cheddar.env
  documentation/local/config/cheddar.json
  documentation/local/config/manchego.env
  documentation/local/config/manchego.json
  documentation/local/docker-compose.yml
  documentation/node-operators/run-rpc-node-docker.md
  documentation/testnet/README.md
  documentation/testnet/config/chain_info.json.example
  documentation/testnet/docker/ingestor-docker-compose.yml
  documentation/testnet/docker/rpc-node-docker-compose.yml
  documentation/testnet/ingestor.md
  infra/testnet/docker-compose.yml
  synd-translator/README.md
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Fix: Format Rust code with cargo fmt
  synd-translator/crates/synd-block-builder/src/appchains/shared/sequencing_transaction_parser.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Fix batch structure bug
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/sequencing_batch.rs
Owners: none

add code to prevent unllowed tx to emit events
  synd-contracts/src/SyndicateSequencingChain.sol
  synd-contracts/src/extensions/SyndicateSequencingChainWithDecayingPriority.sol
  synd-contracts/test/SyndicateSequencingChainTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

[SEQ-912] Refactor batcher without wallet pool or TC (#478)
  Cargo.lock
  Cargo.toml
  synd-batch-sequencer/Cargo.toml
  synd-batch-sequencer/crates/batcher/Cargo.toml
  synd-batch-sequencer/crates/batcher/src/batcher.rs
  synd-batch-sequencer/crates/batcher/src/config.rs
  synd-batch-sequencer/crates/batcher/src/lib.rs
  synd-batch-sequencer/crates/batcher/src/sequencing_batch.rs
  synd-batch-sequencer/crates/tc-client/Cargo.toml
  synd-batch-sequencer/crates/tc-client/src/config.rs
  synd-batch-sequencer/crates/tc-client/src/lib.rs
  synd-batch-sequencer/crates/tc-client/src/tc_client.rs
  synd-batch-sequencer/src/config.rs
  synd-batch-sequencer/src/main.rs
  test-framework/src/components/batch_sequencer.rs
  test-framework/src/components/test_components.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/synd-contracts @WillPapper @gustavoguimaraes

/synd-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/synd-maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne
