Repository SyndicateProtocol/syndicate-appchains, changes with the owners that .github/CODEOWNERS names for each.
All owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne, @gustavoguimaraes

.github/CODEOWNERS:

# root files
/*.* @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne


/metabased-contracts @WillPapper @gustavoguimaraes

/metabased-translator @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-sequencer @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/metabased-poster @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

/maestro @WillPapper @daniilrrr @ericvelazquez @ibremseth @jorgemmsilva @tsite @Br1ght0ne

SEQ-839: Add Explorer Links to all contract addresses (#441)
  metabased-contracts/README.md
Owners: @WillPapper, @gustavoguimaraes

fixup DeployArbConfigManager
  metabased-contracts/script/DeployArbConfigManager.s.sol
  metabased-contracts/src/config/ArbConfigManagerFactory.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
  shared/contract-bindings/src/metabased/mod.rs
Owners: none

add e2e test and force mchain rollback to origin on None safe_state (#438)
  Cargo.lock
  metabased-translator/crates/block-builder/src/config.rs
  metabased-translator/crates/block-builder/src/connectors/mchain.rs
  test-framework/Cargo.toml
  test-framework/tests/components/mod.rs
  test-framework/tests/e2e_tests.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

revisions
  mchain/src/db.rs
  mchain/src/main.rs
  mchain/src/mchain.rs
  mchain/src/metrics.rs
  metabased-sequencer/src/relayer.rs
  metabased-translator/crates/block-builder/src/connectors/mchain.rs
  metabased-translator/crates/block-builder/src/rollups/arbitrum/arbitrum_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/optimism/optimism_adapter.rs
  metabased-translator/crates/block-builder/src/rollups/shared/rollup_adapter.rs
  metabased-translator/crates/common/src/types.rs
  metabased-translator/crates/ingestor/src/ingestor.rs
  metabased-translator/crates/slotter/src/slotter.rs
  metabased-translator/tests/tests/integration_tests.rs
  shared/src/parse.rs
  shared/test-utils/src/docker.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
  test-framework/tests/components/mod.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix: skip batch validation
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: none

improve batcher
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
  metabased-translator/crates/common/src/compression.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add tag
  .github/workflows/publish-images.yaml
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update fs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: none

add log
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

feat: maestro connecting to RPC URLs using alloy
  Cargo.lock
  maestro/Cargo.toml
  maestro/src/config.rs
  maestro/src/errors.rs
  maestro/src/lib.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add log
  Cargo.lock
  metabased-translator/crates/common/Cargo.toml
  metabased-translator/crates/common/src/compression.rs
  shared/src/zlib_compression.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

add log
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

Feature/seq 394 extension framework example (#434)
  metabased-contracts/src/MetabasedSequencerChain.sol
  metabased-contracts/src/extensions/MetabasedSequencerChainWithDecayingPriority.sol
  metabased-contracts/test/extensions/MetabasedSequencerChainWithDecayingPriorityTest.t.sol
  shared/contract-bindings/src/metabased/addbatchtransactionstometabasedsequencerchaincontract.rs
  shared/contract-bindings/src/metabased/atomicsequencer.rs
  shared/contract-bindings/src/metabased/atomicsequencerimplementation.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactory.rs
  shared/contract-bindings/src/metabased/deploymetabasedfactorydirect.rs
  shared/contract-bindings/src/metabased/deploymetabasedsequencerchainplussetupwithalwaysallowmodule.rs
  shared/contract-bindings/src/metabased/metabasedfactory.rs
  shared/contract-bindings/src/metabased/metabasedsequencerchainwithdecayingpriority.rs
  shared/contract-bindings/src/metabased/mockcalldataallowed.rs
  shared/contract-bindings/src/metabased/mockisallowed.rs
  shared/contract-bindings/src/metabased/mod.rs
  use-cases/Makefile
  use-cases/foundry.toml
  use-cases/src/IRL/IRLNFT.sol
Owners: @WillPapper, @gustavoguimaraes

update ArbChainConfig contract
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-contracts/src/config/ArbConfigManager.sol
  metabased-contracts/test/config/ArbChainConfigTest.t.sol
  metabased-contracts/test/config/ArbConfigManagerTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

rb
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

simple docs and resources for node operators
  documentation/node-operators/run-rpc-node-docker.md
  infra/testnet/chain-config.yml.example
  infra/testnet/docker-compose.yml
Owners: none

simple docs and resources for node operators
  infra/testnet/chain_info.json.example
Owners: none

feat: maestro connecting to RPC URLs using alloy (#444)
  Cargo.lock
  maestro/Cargo.toml
  maestro/src/config.rs
  maestro/src/errors.rs
  maestro/src/lib.rs
  maestro/src/server.rs
  maestro/tests/integration_test.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix compression
  Cargo.lock
  Cargo.toml
  metabased-translator/crates/common/src/compression.rs
  shared/Cargo.toml
  shared/src/additive_compression.rs
  shared/src/zlib_compression.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

update order
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
  tc-sequencer/crates/batcher/src/config.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix test
  metabased-translator/crates/common/src/compression.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

fix: batcher + decompression (#443)
  .github/workflows/publish-images.yaml
  Cargo.lock
  Cargo.toml
  metabased-translator/crates/block-builder/src/rollups/shared/sequencing_transaction_parser.rs
  metabased-translator/crates/common/src/compression.rs
  shared/Cargo.toml
  shared/src/additive_compression.rs
  shared/src/zlib_compression.rs
  tc-sequencer/crates/batcher/src/batcher.rs
  tc-sequencer/crates/batcher/src/config.rs
  tc-sequencer/crates/tc-client/src/tc_client.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

simple docs and resources for node operators (#446)
  documentation/node-operators/run-rpc-node-docker.md
  infra/testnet/chain_info.json.example
  infra/testnet/docker-compose.yml
Owners: none

fix tests
  test-framework/tests/components/mod.rs
Owners: none

fix test
  test-framework/tests/components/mod.rs
Owners: none

fixup DeployArbConfigManager (#442)
  metabased-contracts/script/DeployArbConfigManager.s.sol
  metabased-contracts/src/config/ArbConfigManagerFactory.sol
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
  shared/contract-bindings/src/metabased/mod.rs
Owners: @WillPapper, @gustavoguimaraes

f
  test-framework/tests/components/mod.rs
Owners: none

rb
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

Fix ArbChainConfig parameter in setup_config_manager function
  test-framework/tests/components/mod.rs
Owners: none

Add appchain_block_explorer_url field to Components struct
  test-framework/tests/components/mod.rs
Owners: none

Add #[allow(dead_code)] attribute to appchain_block_explorer_url field
  test-framework/tests/components/mod.rs
Owners: none

Add appchain_block_explorer_url parameter to MetabasedConfig
  metabased-translator/bin/metabased-translator/src/config.rs
Owners: @WillPapper, @daniilrrr, @ericvelazquez, @ibremseth, @jorgemmsilva, @tsite, @Br1ght0ne

SEQ-846: Add ALLOWED_SETTLEMENT_ADDRESSES to the chain config contract
  metabased-contracts/src/config/ArbChainConfig.sol
  metabased-contracts/src/config/ArbConfigManager.sol
  metabased-contracts/src/config/README.md
  metabased-contracts/test/config/ArbChainConfigTest.t.sol
  metabased-contracts/test/config/ArbConfigManagerTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

Fix Solidity formatting issues
  metabased-contracts/test/config/ArbChainConfigTest.t.sol
  metabased-contracts/test/config/ArbConfigManagerTest.t.sol
Owners: @WillPapper, @gustavoguimaraes

Update test-framework to pass empty array for ALLOWED_SETTLEMENT_ADDRESSES
  test-framework/tests/components/mod.rs
Owners: none

Update contract bindings to include ALLOWED_SETTLEMENT_ADDRESSES parameter
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
Owners: none

Regenerate contract bindings using make command
  shared/contract-bindings/src/metabased/arbchainconfig.rs
  shared/contract-bindings/src/metabased/arbconfigmanager.rs
  shared/contract-bindings/src/metabased/arbconfigmanagerfactory.rs
  shared/contract-bindings/src/metabased/deployarbconfigmanager.rs
Owners: none

Update README with beacon proxy upgrade instructions
  metabased-contracts/src/config/README.md
Owners: @WillPapper, @gustavoguimaraes

refactor test framework componengts
  test-framework/tests/components/configuration.rs
  test-framework/tests/components/maestro.rs
  test-framework/tests/components/mod.rs
  test-framework/tests/components/poster.rs
  test-framework/tests/components/sequencer.rs
  test-framework/tests/components/test_components.rs
  test-framework/tests/components/timer.rs
  test-framework/tests/components/translator.rs
  test-framework/tests/e2e_tests.rs
Owners: none
